/*
darkest grey #171813
grey #3e4249
grey #222222
grey #333333
grey #222222
yellow #edb021
orange #da6801
red #a42102
*/


/* GENERAL */

body {
    font-family: 'Raleway', 'Lora', Helvetica, sans-serif;
    font-size: 18px;
    background: #333333;
}


/* GLOBAL */

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    margin: 0 0 40px;
}

h2 {
    font-family: 'Libre Baskerville';
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: normal;
}

a:link,
a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button,
input,
.btn,
a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    color: #171813;
}

.btn {
    font-weight: bold;
}

button.btn:focus {
    outline: none !important;
}

.btn-success {
    background: #edb021;
    border: none;
}

.btn-success:hover {
    background: #a42102;
}

.btn-read-more {
    background: transparent;
    border-radius: 0;
    margin: 20px;
}

.btn-white {
  border: 2px solid white;
  color: white;
}

.btn-black {
  border: 2px solid #333;
  color: white;
}

a.btn-white {
  color: white;
}

a.btn-read-more {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
}

.btn-read-more:hover {
    /*c64825*/
    background: #cf6502;
    border: 2px solid #cf6502;
    color: white;
    font-weight: bolder;
}

img {
    max-width: 100%;
}

.navbar-wrapper {
  z-index: 1000;
}

.modal-content {
    background: url('../img/tile.jpg') top left repeat;
}

.navbar-brand img {
    height: 30px;
    margin-right: 20px;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.navbar-custom {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.thumbnail {
    background: #333;
    border: none;
    height: 430px;
}

.badge.social {
    font-size: 24px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
}

.badge.social.widget {
    background: transparent;
    color: #ccc;
}

.badge.social:hover {
    color: white;
    background: #2a2a2a;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.instagram:hover {
    background: #8a3ab9;
}

.badge.social.youtube:hover {
    background: #a42102;
}

blockquote {
    padding: 0;
    border: none;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    display: block;
    color: #777;
    margin: 15px 0 0 0;
}

blockquote:before {
    display: none;
}

.mtop20 {
    margin-top: 20px;
}

.mbot20 {
  margin-bottom: 20px;
}

.mbot80 {
  margin-bottom: 80px;
}

.khaki {
  background: #75655a;
}

.libre {
  font-family: 'Libre Baskerville';
}

.row {
  padding: 10px 20px;
}

.mtop0 {
  margin-top: 0;
}

/* HERO */

#hero {
    background: linear-gradient( rgba(20, 20, 20, .5), rgba(20, 20, 20, .5)), url('../img/spices2.jpg') center center no-repeat fixed;
    min-height: 100vh;
    /*height: 0;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    padding: 0 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.cb-slideshow,
.cb-slideshow:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-size: cover;
    background: center center no-repeat absolute;
    min-height: 100vh;
}
.cb-slideshow:after {
    content: '';
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)) center center no-repeat fixed;
}
.cb-slideshow li {
    color: transparent;
    width: 100%;
}
.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
    min-height: 100vh;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url('../img/spices2.jpg');
}
.cb-slideshow li:nth-child(2) span {
    background-image: url('../img/sate.jpg');
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url('../img/perf1.jpg');
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url('../img/stands2.jpg');
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url('../img/krupuk.jpg');
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url('../img/stands3.jpg');
    animation-delay: 30s;
}

@keyframes imageAnimation {
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

#hero article {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#hero .hero-text {
    margin-top: 30px;
}

#hero h2 {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 20px;
  margin-bottom: 60px;
}

#hero h1.spice{
  font-family: viva;
  text-transform: uppercase;
  font-size: 6.5em;
  margin: 0;
}

.countdown {
  margin-bottom: 0;
}

.countdown span {
  color: #aaaaaa;
}

.countdown h1 {
  margin-bottom: 10px;
}

.sep, .timer-slot {
  display: inline-block;
}

.timer-slot {
  width: 65px;
}

/* LAYOUT */

.row+.row {
    margin-top: 20px;
}

section {
    padding: 50px 0;
    color: white;
    z-index: 100;
}

.section-header {
    text-align: center;
}

section h2 {
    margin: 60px 0 20px;
    letter-spacing: 0.2em;
    font-weight: normal;
}

section h3 {
    margin: 20px 0 10px;
}

#experiences {
    /*background: #75655a;
    background: rgba(202,145,68,.4);
    background-color: rgba(193, 115, 10, .5);
    background: #e0dbcc;
    background: #e6e2df;*/
    background: url('../img/canvas2.jpg') center center repeat;
    padding: 20px 0;
    color: #333;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.center-cropped {
  min-width:100%;
  max-height:200px;
  display:block;
  /* div height to be the same as width*/
  padding-top:100%;

  overflow: hidden;
}

h3.stabilo {
  /*  background: #c64825;
    background: #c0730a;
    background: #901405; */
    background: #cf6502;
    display: inline;
    position: absolute;
    bottom: -10px;
    padding: 10px 10px;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

#cultural {
  background: url('../img/perf2.jpg') center center no-repeat;
  background-size: cover;
}

#cuisine {
  background: url('../img/stands.jpg') center center no-repeat;
  background-size: cover;
}

#workshop {
  background: url('../img/pic3.jpg') center center no-repeat;
  background-size: cover;
}

#about {
  padding-top: 20px;
  z-index: 500;
}


#location {
    background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url('../img/spices1.jpg') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: table;
    width: 100%;
    padding: 0 0 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}



#location p {
    margin: 0 0 0;
}

#map-canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

#akar {
    padding: 0;
}

#akar h2 {
    margin: 50px 0 10px;
}

.testimonial {
    margin-bottom: 60px;
}

.testimonial img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#newcomers {
    text-align: center;
    background: linear-gradient( rgba(20, 20, 20, .7), rgba(20, 20, 20, .7)), url('../img/queensboro.jpg') center center repeat fixed;
    background-size: cover;
    color: white;
    padding: 140px 0;
}

#signup h2 strong {
    border-bottom: solid 2px #dd5638;
}

#signup .btn {
    font-size: 24px;
}

.feature-image {
    display: table;
    width: 100%;
    min-height: 40vh;
    background-size: cover;
}

.feature-image-about {
    background: linear-gradient( rgba(20, 20, 20, .6), rgba(20, 20, 20, .6)), url('../img/spices2.jpg') center center no-repeat;
    background-size: cover;
}

.feature-image h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#about-about {
  color: #ccc;
}

p.punchline {
  background: #aaa;
  color: #222;
  float: left;
  margin: 10px;
  margin-left: -5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-weight: bold;
}

.cs {
  font-size: 2em;
  text-align: center;
  color: #aaa;
  font-style: italic;
}

#performances {
  background: #f2efe6;
  color: #222;

}

.image-holder {
  height: 190px;
  width: 190px;
  border-radius: 200px;
  margin:-150px auto 0 auto;
}

#perf-img {
  background: url('../img/perf.jpg') center center no-repeat;
  background-size: cover;
}

#cuis-img {
  background: url('../img/foodstand.jpg') center center no-repeat;
  background-size: cover;
}

#cuisines {
  background: #e0dbcc;
  color: #222;
}

h3.upp {
  margin-top: 20px;
  text-decoration: overline;
}

footer {
    background: #222222;
    color: white;
    padding: 20px 0 0;
    font-size: 12px;
}

footer p {
    margin: 0;
}

footer a:link,
footer a:visited {
    color: white;
}

footer a:hover {
    color: #edb021;
    font-weight: bold;
}

footer li.signup-link a {
    color: #edb021
}

footer .badge.social {
    background: transparent;
    font-size: 12px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    /*margin: 0 5px 20px 0;*/
    padding: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #white;
}


/* CUSTOM ICON SPRITES */

i.ci {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer {
    background-position: 0 0;
}

.ci.ci-watch {
    background-position: -40px 0;
}

.ci.ci-calendar {
    background-position: -80px 0;
}

.ci.ci-community {
    background-position: -120px 0;
}

.ci.ci-instructor {
    background-position: -160px 0;
}

.ci.ci-device {
    background-position: -200px 0;
}


/* MEDIA QUERIES */

@media screen and ( max-width:991px) {
    #instructor .container {
        background: rgba(255, 255, 255, 0.8);
    }
}

@media screen and (max-width:768px) {
    .logo {
        width: 50%;
    }
    #optin p {
        margin: 0 0 10px;
    }
    #featurette iframe {
        height: 240px;
    }
    .navbar-custom {
        background: transparent;
        border-bottom: 1px solid transparent;
    }
    .collapse {
      background: #222;
    }
}

@media screen and (max-width:568px) {
    #instructor .num {
        height: 100px;
        width: 100px;
        font-size: 22px;
    }
    #instructor .num span {
        font-size: 16px;
    }
}

@font-face {
    font-family: viva;
    src: url('../fonts/vivabeautiful.otf');
}
